**/build/**
**/dist/**
**/gen/**
out
node_modules
__pycache__
VERSION
.DS_Store
.env
.idea
.gradle
.settings
*.log
*.raw
*.swp
*.pyc
*.wav
*.mmdb
*.tcl
*.tar.gz
*.tar.xz
*.vim
.vscode
.project
.classpath

client/static/local
core/lib
core/src/dist/lib
core/src/main/antlr/.antlr
core/src/main/antlr/CommandLexer.g4
core/src/main/antlr/CommandParser.g4
core/src/main/java/core/util/ObjectType.java
core/src/main/java/core/util/ObjectTypeConverter.java
core/src/main/resources/CommandLexer.g4
core/src/main/resources/CommandParser.g4
core/src/main/resources/lexicons
core/src/main/resources/grammars

!client/build/*
!core/src/main/java/core/gen/antlr/antlr4/LexerAdaptor.java
